[2020-04-29 12:13] byteofsoren opened #5 "Missing dependency for bc"
Tried your script but got an error because I did not have `bc` installed so perhaps mention that it depends on it in the installation.

**How to install**
`$ sudo pacman -S bc feh`

Otherwise, great work, love it!
p.s Works on Awesome VM to.

[2020-04-29 13:43] corfeur12 opened #7 "Script fails in zsh"
I assume this is because of the $SETTER not being expanded which could be fixed by adding the line `set -o shwordsplit 2>/dev/null` to the top of the script(s)

As seen in [Pull #8](https://github.com/adi1090x/dynamic-wallpaper/pull/8)

[2020-04-30 16:36] BerentM commented on #7
I'm using zsh and trying to run: `dwall -s=firewatch`
It outputs:

Did you get similar error message?

[2020-04-30 22:51] fcanela opened #9 "KDE support"
Hello! I love the concept. What is preventing it from working with KDE? As KDE user, is there something I can consider contributing?

Thanks.

[2020-05-01 09:17] corfeur12 commented on #7
@BerentM if you are using the Gnome desktop then this is likely due to the gsettings command not returning an error value. If you checkout and merge [Pull #6](https://github.com/adi1090x/dynamic-wallpaper/pull/6) and [Pull #8](https://github.com/adi1090x/dynamic-wallpaper/pull/8) then that will fix any Gnome issues. If you pull [my fork](https://github.com/corfeur12/dynamic-wallpaper) then both of

[2020-05-01 10:19] adi1090x commented on #5
thanks.

[2020-05-01 10:19] #5 closed

[2020-05-01 10:21] adi1090x commented on #7
fixed many issues, pls try again.

[2020-05-01 10:21] #7 closed

[2020-05-01 10:31] adi1090x commented on #9
I'm trying to understand the wallpaper setting mechanism on kde, it's a bit complicated for me yet. you have any idea?
also maybe you can show me the output of `echo $DESKTOP_SESSION`

[2020-05-01 11:40] fcanela commented on #9
[code]

After searching on the internet, I was able to programatically change all my monitors wallpapers using this:

[code]

It is a huge line, but easy to parametrize: We only have to change `/home/fcanela/media/images/wallpapers/test.jpg` for our wallpaper test.

This changes the wallpaper in all the Activities, so it would be nice to warn the users about it.

How do you feel regarding this? Ca

[2020-05-01 11:45] adi1090x commented on #9
I've added KDE support. tested it on KDE NEON and it's working.
please try and let me know if it's working for you.

[2020-05-01 11:57] fcanela commented on #9
That was fast :rocket: I will try during today and confirm. Thanks!

[2020-05-01 12:00] fcanela commented on #9
It seems to be working fine. Wow, you had it solved like 6 hours after I opened the issue.

Thanks! I will tell if I find any problem, but so far it is working flawless.

[2020-05-01 12:00] #9 closed

[2020-05-01 13:58] BerentM opened #10 "Invalid theme/style"
I'm using xfce4.
Now, after runing `dwall -s=firewatch` i get error

[2020-05-01 15:49] adi1090x commented on #10
Use `dwall -s firewatch`

[2020-05-01 16:29] BerentM commented on #10
It works, thank you!

[2020-05-01 16:29] #10 closed

[2020-05-02 02:51] dm7500 opened #11 "Black wallpaper on Ubuntu 20.04"
When I run it on Ubuntu 20.04, I get only a black wallpaper, and no error in the command line. All it tell's me is that it's `Running...`.

I made sure to install all dependencies as described in the Readme, and followed the instructions. Running stock Gnome 3.36.1.

Am I missing something?

[2020-05-02 03:08] dm7500 commented on #11
Using [this fork](https://github.com/corfeur12/dynamic-wallpaper) solved my issue. Not sure what the difference was though.

[2020-05-02 03:08] #11 closed

[2020-05-02 09:11] chuahou commented on #11
If it works with a fork but not this, would you consider reopening the issue since it is still a bug in this original repo?

[2020-05-02 09:58] chuahou opened #12 "Scripts do not reset colour and bolding at end of output"
In both `dwall.sh` and `test.sh`, colour codes are set (e.g. for different lines of usage) with most of them being bold, but the bold attribute is not later reset at the end of the script. This means that prompts without colour codes will be left incorrectly bolded after running the script:

![incorrect bolding](https://i.imgur.com/GzdpEeq.png)

or prompts that set colour without setting / unsetti

[2020-05-02 16:57] AlricRahl opened #15 "Crontab Suggestion"
Hello, a cronjob newbie here

I couldn't use the script directly at cronjob. The problem was the limited environment that crontab runs on. It took me some time to figure out which environment variables are needed to be defined in crontab, so I thought writing it here might be helpful for others. Here are the variables that I had to define in the crontab for the cronjob to work:

- SHELL
- DESKTOP_

[2020-05-02 18:54] e-minguez opened #16 "gnome-xorg session not supported"
Hi,

In Fedora 31 with Gnome on Xorg, it doesn't work. It is needed to add `gnome-xorg` to the list of gnome variants then it works.

Thanks.

[2020-05-03 10:38] BerentM commented on #15
Great idea, that would be helpful. Without your tip i didn't manage to force crontab to work with dwall.
I would add info about DISPLAY=:0 too, for at least xfce users.

[2020-05-04 13:01] yrt05 opened #19 "in manjaro kde do not changing wallpapers"
I write in the terminal: dwall home
but the background does not change over time, or am I starting up incorrectly?

[2020-05-05 08:03] astralgenixx opened #20 "manjaro kde plasma serious problem ! please help !"
any of the wallapaper, i mean dynamic wallpaper is not working_i mean changing at all !!
very confused why this happening to kde plasma

please help !
none of the wallpaper is not changing  ....
i have seen in your tested DE list there are no KDE PLASMA

![Screenshot_20200505_133327](https://user-images.githubusercontent.com/64389321/81045997-074ebb80-8ed5-11ea-8295-e883bfa68966.png)

*******help*

[2020-05-05 12:12] adi1090x commented on #20
What you mean by **any** wallpaper, is dynamic-wallpaper not working you are you not able to set any kind of wallpaper in your DESKTOP?

[2020-05-05 12:45] emptyedge commented on #20
Yes, dynamic wallpapers do not work for me on kde manjaro either. When I install the theme with the dwall -s style command, the wallpaper is set only once, and then remains static. that is, the script sets the desired wallpaper in time only at the time the command is entered, and then it does not work.

[2020-05-05 16:40] adi1090x commented on #20
It's actually working, maybe you just terminate it during exiting the terminal, if you want the script to run in background, consider starting it when plasma desktop runs (autostart the script)

[2020-05-05 16:43] emptyedge commented on #20
Ok, thanks. I really interrupted him in the terminal. I apologize, I thought that it will start automatically after installation. I think you should notify the user when downloading or installing

[2020-05-05 20:56] AnotherAnkor opened #21 "In images folder only symlinks"
If you try to open images folder in this repo you can see only links in some folders.

[2020-05-06 05:44] tambow44 opened #22 "XFCE4 - start on boot"
Tried all sorts of nonsense re WM autostart (.xinitrc, crontab - yes saw the other suggestion re the env variables).

This is what worked for me:

[code]

I know this works in Arch, and FreeBSD, might be helpful for others to see.

[2020-05-06 06:40] #16 closed

[2020-05-06 06:41] adi1090x commented on #19
run `dwall -s home`.
also if you want to change the wallpaper, run it on startup.

[2020-05-06 06:41] #19 closed

[2020-05-06 06:42] #20 closed

[2020-05-06 06:43] adi1090x commented on #21
there are images also.

[2020-05-06 06:43] #21 closed

[2020-05-06 06:48] #12 closed

[2020-05-06 07:03] adi1090x commented on #22
Thanks, I'll add it to readme.

[2020-05-06 07:03] #22 closed

[2020-05-06 07:14] adi1090x commented on #15
Thanks, I'll add it to readme.

[2020-05-06 07:14] #15 closed

[2020-05-08 11:52] adityaarun1 opened #23 "Nothing happens on Gnome"
I have `gnome` DE running on Arch Linux over `wayland`. When I run `dwall -s firewatch`, nothing happens (there is no output on the terminal).
![Screenshot from 2020-05-08 17-20-26](https://user-images.githubusercontent.com/6547096/81403090-489ecf80-9150-11ea-91f1-ad5c9f86f83f.png)

[2020-05-08 14:37] adi1090x commented on #23
Hmm, I've not tried it on Wayland, i can't say what's wrong here, script seems to work fine, but setter not working i guess...

[2020-05-08 14:50] adityaarun1 commented on #23
Yep, `gsettings set org.gnome.desktop.background picture-uri` doesn't seem to work for some weird reason.

[2020-05-08 20:34] Sergeygithub commented on #23
What about the permissions for the folder with the images?

[2020-05-09 02:10] adityaarun1 commented on #23
I think the images folder `/usr/share/dynamic-wallpaper/images` and its contents have proper permissions. The permissions for the jpg files are `644` and the directories are `751`.

[2020-05-09 10:15] Sergeygithub commented on #23
try to set `0755` for the directory

[2020-05-09 11:00] adityaarun1 commented on #23
Done, it doesn't help! :neutral_face:

[2020-05-09 11:46] adityaarun1 commented on #23
Finally solved it!

I use miniconda python distribution on my system which ships its own `gsettings`! Simply forcing the script `dwall.sh` to use the system `/usr/bin/gsettings` solves the issue.

Thanks for your support.

[2020-05-09 11:46] #23 closed

[2020-05-10 04:50] hixan opened #24 "Aspect ratio handling"
When used on monitors with strange aspect ratios (eg ultrawide or portrait) the background gets stretched and looks quite odd. Is there a way to configure behaviour when the aspect ratio of the image does not match the aspect ratio of the display?

[2020-05-10 05:34] adi1090x commented on #24
Try feh modes of wallpaper setting, and use accordingly in the script.

[2020-05-10 07:52] rbreaves opened #25 "Not working for xfce4 (galliumOS)"
1. Wallpaper not changing : echo $DESKTOP_SESSION.
    /usr/bin/startxfce4

2. Not working on XFCE
xfconf-query -c xfce4-desktop -m
[code]

I updated ./test.sh to have screen and monitor set to 0. Re-ran the test and it still failed.

Before updating it I believe this is how it was resolving
[code]

[2020-05-10 08:26] adi1090x commented on #25
You need to add `/usr/bin/startxfce4` in that wallpaper setting line for xfce.

[2020-05-10 17:42] rbreaves commented on #25
On xfce I think you need to run this command to get a full list of all possible monitors,

    xfconf-query -c xfce4-desktop --list

This command for active monitors
    xrandr | grep connected

And just note that eDP-1 tends to be the internal lcd screen of most laptops, so eDP-1 only equals 0, not the eDP-1 entries that may appear in the xfconf-query.

[2020-05-10 23:36] rbreaves opened #27 "feat: Add an option to rotate out dynamic wallpapers daily"
As the title sounds, but also give an option to do it in by a set of days instead too, 2, 3, 5 or weekly, etc.

[2020-05-10 23:38] rbreaves opened #28 "feat: Add set autostart desktop shortcut to options"
Perhaps an -a option? (ex. -a autostart or -a cron)

[2020-05-10 23:40] rbreaves commented on #15
@AlricRahl Did you set the crontab under sudo or something? I'd have assumed that the needed env variables would be accessible as long as your had added the cron under your own user?

[2020-05-11 00:15] hixan commented on #24
Why is style an argument for -s and -o? would it make more sense to simply have -o as an optional flag and style as a required positional argument?

[2020-05-12 11:03] 6gk opened #30 "Code repetition"
Near line 59, there is a case statement that checks if the OSTYPE is 'linux', but in the end, that statement is useless since you're using the same code for every other OS type.

Suggested change: the case statement is removed and replaced with lines 61-75

[2020-05-13 13:52] honze-net opened #31 "The sun in firewatch and firewatch2 is going the wrong way"
The real sunrise is in the east and sunset in the west. This makes the sun to move to the right. In the image the sun moves to the left. One way to hotfix this is to mirror each image. Here a video as reference: [https://www.youtube.com/watch?v=ylLqqI7A1Gg](https://www.youtube.com/watch?v=ylLqqI7A1Gg)

[2020-05-14 15:38] AlricRahl commented on #15
@rbreaves I just used the regular crontab, tho since it runs with an environment with minimum amount of variables, I think these were not defined in that minimum environment, at least in my case.

[2020-05-25 16:00] PPHyperion commented on #30
@GaugeK you can clone this project edit your suggested changes and open a pull request.

[2020-05-26 02:09] GaugeK commented on #30
@PPHyperion Good idea.

[2020-06-05 01:08] delucca opened #33 "Automatically changing lock screen"
Hey guys,

Awesome work with this repo!

There is a way to change the lock screen background too?

[2020-06-12 19:14] samsa283 opened #34 "Combining with pywal?"
Hi,
I really would like to combine your script with Pywal [https://github.com/dylanaraps/pywal](url). So that every hour the terminal color scheme would also change. That would be so cool. I do not have any coding ablities, so I really dont know how to even begin. Do you have any suggestions?

edit: The link does not work for me properly. Please google https://github.com/dylanaraps/pywal

[2020-07-19 04:49] IrkenEngineer opened #35 "Wallpaper "refreshes" every minute or two, sometimes changes to different style"
I have my style set to 'street' in the dwall.desktop autostart script. For some strange reason, it flashes black and then loads back up (very quickly) every minute or two. On every third reload, it just switches to 'firewatch' style for no reason. After another minute or two, it will switch back to 'street' on its own.

I'm using Manjaro KDE.

`echo $DESKTOP_SESSION` yields: /usr/share/xsessions/p

[2020-07-20 05:41] IrkenEngineer commented on #35
Nevermind, it appears to have resolved itself after a few restarts. Not totally sure what happened there.

[2020-07-20 05:41] #35 closed

[2020-07-24 16:55] pozharus opened #36 "Using the 'memory' GSettings backend."
Try: dwall -s forest or dwall -o forest
And have message:  Using the 'memory' GSettings backend.  Your settings will not be saved or shared with other applications.

Resulf of 'echo $DESKTOP_SESSION' : 'ubuntu'.

App was install using guide from main page. (xserver, then repository)
Thanks for something helping.

[2020-07-31 16:15] das-s commented on #34
As far as I'm aware this is not really possible in the current state. I'm currently testing a [fork](https://github.com/das-s/dynamic-wallpaper) where the path of the currently used wallpaper is written into a cache file. That path could be fed into pywal. You'd still need to run dwall via cron job though to get hourly updates.

To achieve this functionality get the aforementioned fork from github

[2020-09-12 11:43] hixan commented on #34
I ended up creating my own script that will change wallpapers according to the time in python and calling pywal from that script (with some checks to make sure the process doesnt get started multiple times) I can share if there is any interest

[2020-10-27 13:32] prajul-L850 opened #38 "Editing the Time of wallpaper change"
Hello,I'm using the style firewatch3(or firewatch alt),which only has 2 wallpapers. I would like the night wallpaper to turn on at 7:30 P.M. Is there any way to edit the time?

[2020-10-27 13:34] prajul-L850 commented on #38
![Screenshot from 2020-10-27 19 03 23](https://user-images.githubusercontent.com/69051313/97308682-26784580-1887-11eb-942b-1762584e038a.png)

[2020-12-12 15:30] trueToastedCode opened #39 "Theme Mojave 2"
I've created a mojave theme based on the real wallpapers: https://mega.nz/file/cyAVHAqb#ghbRPPrIeUrPUppUfyXZ34UqxtLsbbyiW8EC7pH8EdM

Maybe you could add it... It's really awesome

[2020-12-14 16:25] Kirathebee opened #40 "Wallpaper not changing on Deepin"
My output of
echo $DESKTOP_SESSION   is Deepin
I am using ubuntudde

[2020-12-14 23:56] iot-resister opened #41 "support HEIC format?"
Is there an easy way to add this file type? Looking to add from https://dynamicwallpaper.club

[2020-12-18 19:18] ramazanemreosmanoglu opened #42 "Wallpaper don't changing on cinnamon"
Hi;

I am using fedora 33 with cinnamon desktop, but wallpaper dont changing.

https://unix.stackexchange.com/questions/59653/change-desktop-wallpaper-from-terminal

Can we use this solution?

**EDIT:** I solved, I'm, creating a pull request now. https://github.com/adi1090x/dynamic-wallpaper/pull/43

[2020-12-27 11:12] adi1090x commented on #24
Done.

[2020-12-27 11:12] #24 closed

[2020-12-27 11:13] #30 closed

[2020-12-27 11:14] adi1090x commented on #34
Done.

[2020-12-27 11:14] #34 closed

[2020-12-27 11:14] #39 closed

[2020-12-27 11:14] adi1090x commented on #41
Done.

[2020-12-27 11:14] #41 closed

[2020-12-28 18:39] adi1090x commented on #31
Noted!

[2020-12-28 18:39] #31 closed

[2020-12-28 18:40] adi1090x commented on #42
Thanks...

[2020-12-28 18:40] #42 closed

[2020-12-28 18:40] adi1090x commented on #40
Try Again.

[2020-12-28 18:40] #40 closed

[2020-12-28 18:41] adi1090x commented on #38
depends on how you create a cronjob.

[2020-12-28 18:41] #38 closed

[2020-12-28 18:42] adi1090x commented on #36
Try the new version.

[2020-12-28 18:42] #36 closed

[2020-12-28 18:43] adi1090x commented on #33
Depend on which lock screen program you use.
Maybe in next release.

[2020-12-28 18:43] #33 closed

[2020-12-28 18:45] #25 closed

[2020-12-28 18:45] adi1090x commented on #27
I'll try to do it.

[2020-12-28 18:45] #27 closed

[2020-12-28 18:46] adi1090x commented on #28
sounds ok... maybe in next release

[2020-12-28 18:46] #28 closed

[2020-12-29 04:40] jeanlucthumm opened #44 "AUR"
Would be really nice if this package was available in the AUR

[2020-12-29 10:48] Sagyam opened #45 "Wallpaper not changing"
Output of `echo $DESKTOP_SESSION`
`/usr/share/xsessions/plasma`

## Extra Info
OS: Debian GNU/Linux 10 (buster) x86_64
Kernel: 4.19.0-13-amd64
Shell: zsh 5.7.1
DE: KDE
WM: KWin

## Problem
Wallpaper changes when done manually but returns ` pywal not installed exiting ` when done by cron job.

[2020-12-29 11:40] adi1090x commented on #45
Does that not work?
`0 * * * * env DISPLAY=:0 DESKTOP_SESSION="/usr/share/xsessions/plasma" DBUS_SESSION_BUS_ADDRESS="YOUR_VALUE /usr/bin/dwall -s home
`

[2020-12-29 11:41] adi1090x commented on #44
I hope someone will create a `PKGBUILD` file for it.

[2020-12-29 11:41] #44 closed

[2020-12-29 11:45] adi1090x commented on #45
If not, Try this one as well -
[code]

[2020-12-29 14:14] saenglert opened #46 "Dwall trying to use pywal without option in command"
Hello everyone,

When executing `dwall -s forest` the script returns `[!] pywal is not installed on your system, exiting...` despite the command not using the `-p` option.

[code]

Did anyone run into this issue before?

Cheers

### Info
OS: Ubuntu 20.04
SHELL: bash
DE: Gnome

[2020-12-29 15:58] Lanhild opened #47 "dwall says pywal isn't installed even if it is"
`~$dwall -s lakeside &`
`[1] 42971`
`~$ [*] Using style : lakeside
[!] pywal is not installed on your system, exiting..`
`~$ echo $DESKTOP_SESSION`
`xubuntu`

`~$ pip3 install pywal`
`Requirement already satisfied: pywal in ./.local/lib/python3.8/site-packages (3.3.0)`

@adi1090x

[2020-12-29 16:02] Lanhild commented on #46
I do have the same issue, look at the issue I just opened

[2020-12-29 16:09] saenglert commented on #46
I think we have different issues:
I don't want to use pywal but dwall insist on using it (despite it being optional).
You want to use pywal but dwall can't find it.

[2020-12-30 04:18] 1999shaswat opened #49 "dwall change lockscreen wallpaper[kde neon]"
(base) shade@shade-HP-ProBook-450-G1:~$ echo "$SHELL | $DISPLAY | $DESKTOP_SESSION | $DBUS_SESSION_BUS_ADDRESS | $XDG_RUNTIME_DIR"
/bin/bash | :0 | /usr/share/xsessions/plasma | unix:path=/run/user/1000/bus | /run/user/1000

(base) shade@shade-HP-ProBook-450-G1:~$ crontab -l
0 * * * * env DISPLAY=:0 DESKTOP_SESSION=/usr/share/xsessions/plasma DBUS_SESSION_BUS_ADDRESS="unix:path=/run/user/1000/bus"

[2020-12-30 04:54] Sagyam commented on #45
Okay like you said I tried

`0 * * * * env SHELL="bin/zsh" DISPLAY=":0" DESKTOP_SESSION="/usr/share/xsessions/plasma" DBUS_SESSION_BUS_ADDRESS="unix:path=/run/user/1000/bus" XDG_RUNTIME_DIR="/run/user/1000" XDG_DATA_DIRS"/usr/share:/usr/share:/usr/local/share" /usr/bin/dwall -s firewatch`

and I got this in email
# Cron Variables
X-Cron-Env: <SHELL=/bin/sh>
X-Cron-Env: <HOME=/home/sagyam>
X-Cron-E

[2020-12-30 04:55] Sagyam commented on #45
Apparently its still using **shell** event though I have told to use **zsh**

[2020-12-30 05:19] Sagyam commented on #47
Pywal being not optional even though docs say it's  optional  is the root cause of most of our issues.
Apparently [this](https://github.com/adi1090x/dynamic-wallpaper/pull/48/commits/6524b29074689a74408a3f34ad07c3e9643e2106) PR claims to fix the pywal bug.
Looks like we will just have to wait.

[2020-12-30 05:26] Sagyam commented on #49
[Same](https://github.com/adi1090x/dynamic-wallpaper/issues/45) problem here.
If you check this logs of it may say `pywal is not installed on your system, exiting...` even though  pip3 list show pywall as already installed.

[2020-12-30 05:58] Sagyam commented on #45
Alright I have **SOLVED** this issue!!
Here is my cron file
[code]
 I think it needed also needed the **PATH** variable for pywal dependency.

[2020-12-30 06:07] Sagyam commented on #49
Try add environment variable  **PATH** to your cron file.
Run echo `$PATH`
Update cron file with
[code]

[2020-12-30 06:08] Sagyam commented on #47
Try add environment variable  **PATH** to your cron file.
Run echo `$PATH`
Update cron file with
[code]

[2020-12-30 06:09] #45 closed

[2020-12-30 06:17] 1999shaswat commented on #49
Thanks a lot. Was just going through your issue. Followed it and now it works!

[2020-12-30 06:22] Lanhild commented on #47
nope, doesn't work.

[2020-12-30 06:47] Sagyam commented on #47
What's the error message this time?

[2020-12-30 06:52] Lanhild commented on #47
The exact same

[2020-12-30 07:10] #49 closed

[2020-12-30 07:11] 1999shaswat opened #50 "dwall change lockscreen wallpaper[kde neon]"
Is it possible to set current dwall wallpaper as lockscreen wallpaper automatically(in cron maybe)?

[2020-12-30 07:16] adi1090x commented on #46
Fixed, Try again...

[2020-12-30 07:17] adi1090x commented on #47
Try again, I've fixed it.

[2020-12-30 07:18] adi1090x commented on #50
well, not yet... but maybe soon.

[2020-12-30 07:18] #50 closed

[2020-12-30 11:52] saenglert commented on #46
Fixed indeed! Thank you!

[2020-12-30 11:52] #46 closed

[2020-12-30 13:55] Vepnar commented on #47
You could try installing pywall with super user.
`sudo pip3 install pywal`
This solved the issue for me.

[2020-12-30 15:12] Lanhild commented on #47
It solved it, thanks!

[2020-12-30 15:12] #47 closed

[2020-12-30 15:19] Lanhild opened #52 "Use on laptop screen and monitor"
`~$ dwall -s beach`
`[*] Using style : beach`
`Property "/backdrop/screen1/monitorDP-2-1/workspace0/last-image" does not exist on channel "xfce4-desktop". If a new property` `should be created, use the --create option.`

It works, but it only put the wallpaper on my PC screen, and not my monitor. How can I put it on my monitor too?

[2020-12-30 17:49] akshat2602 opened #53 "Wallpaper not changing using cron"
Output of `echo $DESKTOP_SESSION` is
`ubuntu`

Cron file -
'0 * * * * env SHELL="/usr/bin/zsh" DISPLAY=:1 DESKTOP_SESSION="ubuntu" DBUS_SESSION_BUS_ADDRESS="unix:path=/run/user/1000/bus" XDG_RUNTIME_DIR="/run/user/1000" /usr/bin/dwall -s lakeside
@reboot /usr/bin/dwall -s lakeside '

### **Extra Info**
OS: Ubuntu 20.04 LTS
WM: Mutter
DE: Gnome

### **Problem**
The wallpaper is set correctly using

[2020-12-31 13:26] sheikhejab commented on #53
Do you have pywal installed ? I also faced the same issue as you, when i looked into the logs of cron service status there were something about error because pywal wasn't found. So i installed pywal, redo the whole installation thing as this github readme says and guess what.. it works

[2020-12-31 14:33] Sagyam commented on #53
Try adding PATH environment variable in cron file. Use `echo $PATH` to get your path.
See my [issue 45](https://github.com/adi1090x/dynamic-wallpaper/issues/45#issuecomment-752338432)

[2020-12-31 22:34] akshat2602 commented on #53
I'll see if this works. I do have pywal installed but am not using it with dwall specifically.

[2021-01-01 02:26] akshat2602 commented on #53
This seems to fix the problem.
Thanks for helping!

[2021-01-01 02:26] #53 closed

[2021-01-06 05:00] thedaemon opened #57 "permission denied on jpgs"
I get this issue every style tested. Here are a few
/usr/bin/dwall: line 171: /usr/share/dynamic-wallpaper/images/forest/21.jpg: Permission denied
/usr/bin/dwall: line 171: /usr/share/dynamic-wallpaper/images/moon/22.jpg: Permission denied
/usr/bin/dwall: line 171: /usr/share/dynamic-wallpaper/images/market/22.jpg: Permission denied

[2021-01-07 07:12] adi1090x commented on #57
Make sure you've permission to access files in /usr/share dir.

[2021-01-08 17:15] Neules opened #59 "Cron job not working in Sway"
I'm running `dwall` on Sway from command line without problems, but I'm not able to get cron job working.

I'm using wiki's recommendations but using a _every minute_ rule due to testing:

`*/1 * * * * env PATH=/usr/local/bin:/usr/bin DISPLAY=:0 DESKTOP_SESSION=Sway DBUS_
    SESSION_BUS_ADDRESS="unix:path=/run/user/1000/bus" /usr/bin/dwall -s cliffs`

No idea what's wrong. The same command works

[2021-01-08 17:21] dasco597 commented on #15
note for any sway users: I also had to include the SWAYSOCK variable to get this to work. In my case it was SWAYSOCK=/run/user/1000/sway-ipc.1000.425.sock

[2021-01-08 17:31] Neules commented on #15
@dasco597 Could you paste your crontab rule please? I'm running Sway as well

[2021-01-08 17:40] dasco597 commented on #15
@Neules not sure if it's all needed I was trying a few different ideas

0 * * * * env DISPLAY=:0.0 SHELL=/bin/zsh DESKTOP_SESSION=sway DBUS_SESSION_BUS_ADDRESS="unix:path=/run/user/1000/bus" XDG_RUNTIME_DIR=/run/user/1000 SHELL=/bin/zsh TERM=alacritty PATH=$PATH:/usr/bin SWAYSOCK=/run/user/1000/sway-ipc.1000.425.sock /usr/bin/dwall -s desert > ~/.config/cron-msg.cron 2>&1

[2021-01-08 17:55] Neules commented on #15
@dasco597 There it is!! Perfect!! Thank you!! it worked now, don't know which env var was. I added `SHELL`, `TERM`, `XDG_RUNTIME_DIR` and changed `PATH=/usr/local/bin:/usr/bin` to `PATH=$PATH:/usr/bin`.

I'm pasting my cron job for any other Sway user that may be having issues:

`env SHELL=/bin/zsh PATH=$PATH:/usr/bin DISPLAY=:0 TERM=foot SWAYSOCK=/run/user/1000/sway-ipc.1000.1914.sock DESKTOP_SES

[2021-01-08 17:55] #59 closed

[2021-01-08 17:58] Neules commented on #59
Solved thanks to @dasco597 in this [issue](https://github.com/adi1090x/dynamic-wallpaper/issues/15)

[2021-01-12 16:33] gesteves91 opened #60 "Cron Job Instructions for Debian"
First of all, I would like to say that I loved this project. Thanks a lot for developing it. However, I have one question for the developers, would you guys bother to add installation instructions about the cron job for the Debian based distros (such as Ubuntu) in the README.

[2021-01-14 12:06] vitorfrois opened #62 "Wallpaper not changing"
Good morning! I'm new to linux. Tried to install DWall but the wallpapers arent changing. My OS is Ubuntu.
How can I solve this problem?
![Screenshot from 2021-01-14 09-06-21](https://user-images.githubusercontent.com/46361092/104588893-d28c2a00-5647-11eb-90d5-c9e66985cac1.png)

[2021-01-17 04:28] Sagyam commented on #62
Can you provide more info?
Try running `neofetch`.
Do wallpaper change when done manually?

[2021-01-18 21:05] utarasama opened #63 "Add the dwall command corresponding to our theme in .bashrc"
When I go to sleep, I shutdown my computer when the wallpaper is in night theme. When I wake up, I want to have the day theme, and not have to wait an hour to see the modification.

So, I recommand to add this command to the `~/.bashrc` file :
[code]

This doesn't affect our cron. But, if we edit it to change the theme, we have to edit the `~/.bashrc` file in consequence, with the new theme chosen

[2021-02-12 07:41] tomturbu opened #64 "wallpaper not changing with cron - workaround possible"
Hi,
first of all - i love this project, good work, thanks a lot!

Issue:
a single cron job only changes the terminal color based on the desired background-wallpaper, a second cron is required to change the background-wallpaper

So in other words - if i only have one single cronjob, only the background-color of my terminal gets changed.
The second job is changing also the background-wallpaper... so

[2021-02-27 17:11] prajul-L850 opened #65 "Wallpapers doesn't change automatically"
Hi, you have an awesome project. I enjoy using it, except one problem which always gives me an headache.
As the title,the wallpaper doesn't automatically change with time,as it should. I always have to run the `dwall -s <wallpaper>` every hour. Any help would be greatly appreciated. BTW, I'm using Elementary OS 5.1.7 Hera,based on Ubuntu 18.04 and running kernel 5.4.0-66 under the hood.

[2021-02-27 17:25] prajul-L850 commented on #65
Sorry,I forgot to setup the cron job thing.
My bad.

[2021-02-27 17:25] #65 closed

[2021-03-02 19:29] iceman42 opened #67 "wallpaper not changing with pop!_os on system76 laptop"
Wallpaper doesn't change, with cron or with the command `dwall -s <style>` for all styles on a system76 laptop running pop!_os with the cinnamon desktop environment.

Output of `echo $DESKTOP_SESSION` is `cinnamon`

Weirdly, on pop!_os installed on an old hp laptop it works fine.
Thanks

[2021-03-30 20:06] ramazanemreosmanoglu opened #70 "Support for Sway"
Hi!

Sway WM uses a command called swaybg for setting wallpapers. For example:

[code]

But this command dont starts another process like feh.

If you can do support, I can test it. Or I'mma try coding.

[2021-04-20 07:41] tomturbu commented on #67
Hi,
seems like my issue - i've also posted here an issue plus a workaround...
You can check if my workaround works -> https://github.com/adi1090x/dynamic-wallpaper/issues/64

best,
Thomas

[2021-04-26 20:35] ghost opened #71 "Development continues in my fork 'Dynamic Wallpaper Improved'!"
Hi all,
it appears that @adi1090x has abandoned this project (the last commit was in January), so I added a few features to dwall I urgently needed in [my own fork](https://github.com/GitGangGuy/dynamic-wallpaper-improved). I will continue developing there, so feel free to join in on the fun! I'll try to address any issues that come up and I'm looking forward to merging your PRs!
:partying_face:

[2021-04-26 20:38] GitGangGuy commented on #70
Hi @ramazanemreosmanoglu,
it appears that @adi1090x has abandoned this project (the last commit was in January), but I have continued development in my fork [Dynamic Wallpaper Improved](https://github.com/GitGangGuy/dynamic-wallpaper-improved). Feel free to open your issue there so I can take a look at it!

[2021-04-26 20:39] GitGangGuy commented on #67
Hi @iceman42,
it appears that @adi1090x has abandoned this project (the last commit was in January), but I have continued development in my fork [Dynamic Wallpaper Improved](https://github.com/GitGangGuy/dynamic-wallpaper-improved). Feel free to open your issue there so I can take a look at it!

[2021-04-26 20:39] GitGangGuy commented on #64
Hi @tomturbu,
it appears that @adi1090x has abandoned this project (the last commit was in January), but I have continued development in my fork [Dynamic Wallpaper Improved](https://github.com/GitGangGuy/dynamic-wallpaper-improved). Feel free to open your issue there so I can take a look at it!

[2021-04-26 20:40] GitGangGuy commented on #63
Hi @mehdi60,
it appears that @adi1090x has abandoned this project (the last commit was in January), but I have continued development in my fork [Dynamic Wallpaper Improved](https://github.com/GitGangGuy/dynamic-wallpaper-improved). Feel free to open your issue there so I can take a look at it!

[2021-04-26 20:41] GitGangGuy commented on #60
Hi @gesteves91,
it appears that @adi1090x has abandoned this project (the last commit was in January), but I have continued development in my fork [Dynamic Wallpaper Improved](https://github.com/GitGangGuy/dynamic-wallpaper-improved). Feel free to open your issue there so I can take a look at it!

[2021-04-26 21:26] iceman42 commented on #67
Hi @tomturbo,
Thanks for your reply. I've actually stopped using pop! for the moment, was in a bit of distro-hopping phase but have settled on something different now.
I'm not sure your workaround would help any future pop! users that face the same problem: if I understand correctly, you're trying to change system colours and the background? And you do this by changing the background first, then d

[2021-04-27 11:41] adi1090x commented on #60
@gesteves91 , maybe he didn't... He is an Indian and by judging the current condition of india, he may be really really sick, you know... Maybe he's on the bed, with a mask on his nose.

Anyway, good work, keep it up... I'll resume this stuff, If I'm not dead.

[2021-04-27 16:18] GitGangGuy commented on #60
@adi1090x I hope everything is well with you in India (or at least going to be soon)! 😷
I did not mean to pressure you into doing anything regardless of your current condition, but simply to redirect issues to my fork - You don't have to pick the project up again if you don't want to, that's what the FOSS community is about! 😄
Anyway, I hope you'll get better real soon 😇

[2021-05-03 03:11] gesteves91 commented on #60
Thanks @GitGangGuy for the suggestion. I am going to take a look at your fork
@adi1090x I hope you are doing all right down there
About this issue, I actually found a solution to install in Debian-based distros. I only needed to use the command `sudo systemctl enable cron`, and the rest of the tutorial works great from there
Again it would be nice to have it in the README, but it is not really an

[2021-05-18 13:53] thedaemon commented on #57
My permissions are fine.

❯ ls -l /usr/share/dynamic-wallpaper/images/moon/22.jpg
-rw-r--r--  1 root  wheel   146K Jan  5 21:59 /usr/share/dynamic-wallpaper/images/moon/22.jpg

[2021-06-08 15:26] ryawann opened #72 "invalid image file"
so i downloaded heic files from the website, converted them to jpgs, renamed them "0"-"7" and put them in their own folder. how come when i try and set them as the wallpaper i get an "invalid image file" error?

[2021-06-08 15:46] ryawann commented on #72
oh and i forgot to mention im using fedora

[2021-06-10 15:32] dhollinger commented on #60
Any particular reason someone couldn't use `systemd-timer` instead of cron?

[2021-06-12 13:50] JohnCosta27 opened #74 "Wallpaper doesn't change on startup"
Hi,

I find that the program works fine when changing the wallpaper every hour, but whenever I turn the computer on the wallpaper remains the same as it was when it turned off. This can be fixed manually by running "dwall -s <wallpaper>" but I can't seem to do it automatically.

Here is system information.

[code]

[2021-06-19 16:02] bnrobinson93 commented on #74
Same issue here. Whereas it seems you're Arch based, I'm on Pop!_OS and tried creating an executable under /lib/systemd/system-sleep. For Arch users, I believe it'd be /usr/lib/pm-utils/sleep.d. The script does run on suspend/wake but the wallpaper does not run unless manually run after logging in. I've seen some have better luck with adding a line to their WM start script but that seems "hacky" a

[2021-07-07 22:45] BrianRuizy commented on #72
@ryawann I believe you need to number 0-23 for all hours of the day

[2021-07-10 08:38] amulayaa opened #75 "Nothing Happened on Gnome"
Hey, I followed all steps mentioned but nothing happened.
Output of `echo $DESKTOP_SESSION` is `gnome-classic`

P.S.- you might want to include command to enable cron in ubuntu and debian in the instructions

[2021-07-19 22:03] BrianRuizy opened #76 "wallpaper not changing, Fedora 34 Gnome 40"
![image](https://user-images.githubusercontent.com/23439187/126233058-85fc52d5-aa05-4a86-856a-a058638eb8c9.png)
![image](https://user-images.githubusercontent.com/23439187/126233103-72540b0f-0e46-437e-921b-cdabef167bec.png)

I know it's custom wallpaper, however I set up per instructions in **/usr/share/dynamic-wallpaper/images**.
Hope to get this working, this is a nice project

[2021-07-20 12:12] AshutoshFreak opened #77 "Change wallpapers every 15 minutes"
I have a set of 96 wallpapers (numbered from 0-95) taken from [here](https://dynamicwallpaper.club/wallpaper/qvvk60oi7v). How do I change my wallpaper every 15 minutes?

[2021-08-04 15:20] Bluqui commented on #67
I can to check :D

![image](https://user-images.githubusercontent.com/63772059/128206502-d1ab418e-7e13-41c5-91ee-26993d04e10d.png)

As you can see... the wallpapaer pops up when i type the command
But it doesnt change with the time

![image](https://user-images.githubusercontent.com/63772059/128206953-e03951e2-9c8b-4f58-8329-d9e75ba93800.png)

"pop"

![image](https://user-images.githubusercontent.

[2021-08-09 18:15] gesteves91 commented on #67
Hi @Bluqui, have you found any workarounds? I also use POP, and I am facing the same problem now

[2021-08-17 14:48] Username-Cant-Be-Blank opened #78 "dynamicwallpaperconverter script cannot convert Mac wallpapers because libpng cannot use sRGB color profiles"
error: libpng error: known incorrect sRGB profile Error while encoding image
libpng version: 1.6.37-3
Python version: 3.9.6-1

[2021-08-21 06:55] alexshcer opened #79 "Wallpaper Not Changing, Result of -> echo $DESKTOP_SESSION : /usr/share/xsessions/plasmax11"
Wallpaper Not Changing, Result of -> echo $DESKTOP_SESSION  : /usr/share/xsessions/plasmax11

[2021-09-06 04:56] andremeireles commented on #77
On file `test.sh`, line 16, change `HOUR='date +%k'`.
The expression needs to be something like ((hour * 60) + minutes) / 15)
**HOUR** is `date +%k`
**MINUTES** is `date +%M`
Make sure the result is a integer and not a float number.

[2021-10-13 06:11] Saketh-0 opened #81 "Instructions not clear"
# export editor for crontab
$ export EDITOR=vim

# Edit your crontab and add a job
$ crontab -e

# Add this line replacing the values of env variable and style with yours
0 * * * * env PATH=/usr/local/bin:/usr/bin DISPLAY=:0 DESKTOP_SESSION=Openbox DBUS_SESSION_BUS_ADDRESS="unix:path=/run/user/1000/bus" /usr/bin/dwall -s firewatch

# check if job is created on your crontab
$ crontab -l
0 * * * * e

[2021-11-29 23:07] IceCloud76 commented on #74
I used a systemd service, and it works quite well. I use Ubuntu, but it should work on any systemd system. I used [this](https://unix.stackexchange.com/questions/152039/how-to-run-a-user-script-after-systemd-wakeup) guide as reference.

I started by creating a bash script to run dwall `set_dwall.sh`, using the same environmental variables that I used in my crontab:
[code]
Don't forget to add permi

[2021-12-07 01:06] Michael-Obele opened #84 "Wallpaper not changing: Output of "echo $DESKTOP_SESSION" is "zorin""
![image](https://user-images.githubusercontent.com/70345027/144947209-2f80155b-ed5a-4e6a-978e-2fefe2791db9.png)

[2021-12-07 01:08] Michael-Obele commented on #84
PS: Am using Zorin OS 16

[2022-01-20 07:16] amalthomas-exe commented on #74
Is the issue solved ??

[2022-01-21 00:26] bnrobinson93 commented on #74
Yes, that did the trick!

[2022-02-11 12:50] VNGamerGit opened #88 "Will there be a version of this for any other distros than Arch(-based)/Ubuntu(-based) and Debian(-based) ones?"
Question above, I'm going to switch to Gentoo, but it seems like there's no installation guide for it, nor is there any installation guides for any other distros than Arch(-based)/Ubuntu(-based) and Debian(-based) ones. Can I build the whole thing from source, then install it?

[2022-02-17 10:09] pnchinmay commented on #34
Hi @hixan, could you share your script ?

[2022-02-17 21:58] pnchinmay commented on #34
Nevermind, found the file `~/.cache/dwall_current`

[2022-02-25 17:22] tusharhero opened #89 "Why isn't the wallpaper watching the time? ~$ echo $DESKTOP_SESSION pantheon"
![image](https://user-images.githubusercontent.com/54012021/155759213-f022b6d6-b892-4ce0-9612-307830b12d95.png)

[2022-02-25 17:22] tusharhero commented on #89
As you can see it is almost 11pm and I can still see the sun's light.

[2022-03-22 13:35] garlontas opened #90 "Wallpaper not changing on budgie-desktop"
Hello, very cool script. Unfortunately, this isn't working on:

`budgie-desktop`

Hope this helps to improve dwall!

[2022-04-22 03:13] ch0chi commented on #67
Hey there, I know this is old, but I figured I'd update this in case anyone else needs help.
I got this working on Pop_OS! by simply setting `DESKTOP_SESSION` to `gnome`.
When you run `echo $DESKTOP_SESSION` in pop os, it outputs `pop`. However, Pop OS uses gnome as its default display manager. So, setting `DESKTOP_SESSION="gnome"` should fix the issue for you.

[2022-04-23 00:24] Bluqui commented on #67
thanks for you post `:D`
i'll try it

[2022-04-25 01:55] Bluqui commented on #67
Looks like doenst work :(

[2022-04-25 01:56] Bluqui commented on #67
Maybe... i made a bad crontab file?

[2022-04-29 22:57] GabrielN11 opened #92 "Wallpaper not changing after Pop OS upgrade"
echo $DESKTOP_SESSION
pop

[2022-05-03 11:15] PhucLee8777 opened #94 "cost too much memory"

[2022-05-03 22:13] BrendanParmer commented on #92
I think it has to do with GNOME's new setting to switch wallpapers based on light or dark mode. If you're using dark mode, you can modify the dwall.sh script, changing line 131 from
```SETTER="gsettings set org.gnome.desktop.background picture-uri"```
to
```SETTER="gsettings set org.gnome.desktop.background picture-uri-dark"```

[2022-05-04 20:07] GabrielN11 commented on #92
Hey, thanks for your answer. I reinstalled dwall and changed the line like you said and it works now, Thank you again :)

[2022-05-04 20:07] #92 closed

[2022-05-19 20:55] macwojs commented on #50
Something changed from this time?

[2022-06-02 04:55] rilysh opened #95 "Invalid style of all default implemented styles"
Am I doing anything wrong? I've tried to use styles but it's keep saying that style not found. I'm on Debian 11 with XFCE.DE.

![image](https://user-images.githubusercontent.com/71683721/171555207-525a4ded-6ebf-4a28-a4d4-55cb5f9e93a6.png)

I've tried with other styles as well, doesn't seems like it will going to work for me.

[2022-06-29 00:30] ChocolateDave opened #96 "[Ubuntu 20.04] Wallpaper not change"
Hello there, thanks for the amazing repository.

It's not working on my Ubuntu 20.04 here, and as required the output of `$DESKTOP_SESSION` is

[code]

In addition, my system runs on `Linux 5.14.0-1042-oem` and has applied a custom gnome-look theme.

Thank you.

[2022-07-24 11:18] Roigo21 commented on #96
One question, is your gnome theme dark or light?

[2022-07-28 07:31] ChocolateDave commented on #96
Thanks for the quick reply. After the change I got the `No such key` error:

![Screenshot from 2022-07-28 00-27-56](https://user-images.githubusercontent.com/45930715/181447116-438d3d46-0224-4bad-8c09-c7f2a721f425.png)

What might be the cause of this issue?

[2022-07-28 14:41] Roigo21 commented on #96
what changes have you done, and where?

A qui, 28 de jul de 2022, 08:31, David Juanwu Lu ***@***.***>
escreveu:

[2022-08-01 13:00] ChocolateDave commented on #96
I followed the steps you mentioned and changed `SETTER="gsettings set org.gnome.desktop.background picture-uri"` into `SETTER="gsettings set org.gnome.desktop.background picture-uri-dark"` in the `dwall` file.

[2022-08-01 13:23] Roigo21 commented on #96
but where your file is located?

A seg, 1 de ago de 2022, 14:01, David Juanwu Lu ***@***.***>
escreveu:

[2022-08-01 13:26] Roigo21 commented on #96
you need to change in usr/bin

[2022-08-01 13:32] Roigo21 commented on #96
oh nevermind, I totally forgot that I told you already the path, then i dont know how it can be fixed, maybe, try with gnome dark theme to change the wallpaper, if it works, you know the problem.

[2022-08-05 00:54] ChocolateDave commented on #96
Thanks for following up. I've been using the dark theme the whole time. FYI, I'm now testing on Ubuntu 22.04 LTS with similar settings and it doesn't work as well.

[2022-08-05 08:09] Roigo21 commented on #96
im still a very newbie in linux so i dont know what should i do more to fix
that, i can try to install this on my laptop to see if it works (laptop is
with pop os 22.04)

A sex, 5 de ago de 2022, 01:54, David Juanwu Lu ***@***.***>
escreveu:

[2022-08-13 13:48] histefanhere commented on #84
I'm also using zorin, and it turns out it's a super easy fix to get it working!

Basically zorin has it's own desktop session, however it's still based on ubuntu gnome which this should support. I followed ChocolateDave's steps in @96 [here](https://github.com/adi1090x/dynamic-wallpaper/issues/96#issuecomment-1193296687) by changing the folowing line in `/usr/bin/dwall`:

[code]

simply add `zorin

[2022-08-16 00:09] Michael-Obele commented on #84
Thank you very much. This is excellent. As far as I can see, this also applies to other 'wallpaper shell apps'. Once again, thank you.

[2022-08-16 00:09] #84 closed

[2022-08-19 10:26] AquilasJuca opened #98 "It's not working on my manjaro distro"
hello, this repository is very good!

It's not working on my 5.15.60-1-MANJARO here, and as required the output of $DESKTOP_SESSION is

$ echo $DESKTOP_SESSION
plasma

[2022-08-19 12:30] aksalsf opened #99 "How to use this with Archcraft Wayfire?"
I'm figuring out to use this app with Archcraft Wayfire. I've installed it before, but it seems doesn't works. Is it because of wallpaper settings on Wayfire configuration?

[2022-08-27 21:12] victorbnl commented on #99
Did you try the test script? Does it work?

[2022-08-28 07:59] aksalsf commented on #99
I've tried before, there's no issue when running the script. But, the wallpaper still didn't change, even I restarting my desktop. I'm still figuring out what's the problem.

Should I change the wayfire.ini configuration maybe?
![image](https://user-images.githubusercontent.com/43602616/187064021-83cf865b-5a29-4c28-884c-7c13500f7610.png)

[2022-08-28 10:29] victorbnl commented on #99
Do you have feh ? Does `feh --bg-scale an_image.(jpg|png)` set your wallpaper correctly?

[2022-08-28 10:29] victorbnl commented on #99
Also does dwall throw an error?

[2022-10-11 08:36] Roigo21 commented on #96
it needs to be in the installed version, usr-bin

A seg, 1 de ago de 2022, 14:23, Oaoajs Oooo ***@***.***> escreveu: